<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
</head>
<body>
<div class="info">
    <p align="center">Dmitro Haranzha</p>
    <p align="center"> <a href="https://github.com/haranzha-dmitro/homeworks">My GitHub</a> </p>
    <p align="center"> I did it with little looking to the previous homework</p>
    <p align="center"> <a href="{{url_for('get_home_page')}}">Home</a> </p>
  </div>

<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
</body>
</html>