{% extends "base.html" %}

{% block title%}
    Add Product
{% endblock %}

{% block content %}

<h2 style="padding: 25px; padding-top: 25px">Add new product</h2>

<form action="{{ url_for('products.add_product') }}" method="post"  enctype = "multipart/form-data" style="padding-left: 30px">
    {{form.hidden_tag()}}
    <p>
        Please enter Name:<br>
        {{form.name}}<br>
    </p>
    <p>
        Please enter description:<br>
        {{form.description}}<br>
    </p>
    <p>
        Please enter price:<br>
        {{form.price}}<br>
    </p>
    <p>
        Please enter image:<br>
        {{form.img_name}}<br>
    </p>

    <p><input type="submit" value="Submit"></p>
</form>

{% endblock %}